body{
    background-image: url(bg.jpg);
    text-align: center;
    align-content: center;
}
.navbar{
    background-color: rgb(64, 0, 44);
    padding: 30px 30px 30px 30px;
    height: 80px;
    border: 0px;
}
/* .navbar ul{
    overflow: auto;
} */

.navbar li{
    float: left;
    list-style: none;
    font-size: 40px;
}
.navbar li a{
    padding: 30px 30px 30px 30px;
    color: rgb(255, 220, 229);
    text-decoration: none;
    font-size: larger;
}
.navbar li a:hover{
    color:rgb(204, 102, 170);
}
.search{
    float: right;
    padding: 10px 10px 10px 10px;
    color: white;
}
main{
    background-color: rgb(255, 220, 229);
    border-radius: 30px;
    width: 1300px;
    padding: 10px 30px 40px 60px;
    font-size: 40px ;
    margin: 0 auto;
    color: rgb(91, 15, 82);
    text-align: left;
    font-size: 50px;
}
main h2{
    color: rgb(64, 0, 44);
    font-size: 80px;
    text-align: center;
}
.button{
    font-size: 40px;
    padding: 20px;
    border-radius: 40px;
    margin: 0 auto;
    display: block;
}
.button a{
    text-decoration: none;
    color: rgb(91, 15, 82);
}
.button a:hover{
    color: rgb(237, 164, 176);
}
footer{
    justify-content: center;
    display: flex;
    background-color: rgb(64, 0, 44);
}
.links{
    float: left;
    padding: 20px;
    margin: 5px;
    max-width: 800px;
    justify-content: center;
    background-color: rgb(64, 0, 44);
    color: rgb(255, 220, 229);
}
footer div{
  width: 600px;
  height: 400px;
  font-size: 30px;
  text-align: left;
  justify-content: center;
}
footer div h3{
  font-size: 50px;
  text-decoration: underline;
}
#quick a{
    text-decoration: none;
    color:rgb(255, 220, 229);
}
#quick a:hover{
    color:rgb(204, 102, 170);
  }